In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext, Row

conf = SparkConf().setMaster("local").setAppName("dataFrameExamples")
sc = SparkContext(conf = conf)
sqlContext = SQLContext(sc)

In [2]:
l = [('Ankit', 25), ('Jalfaizy', 22), ('saurabh', 20), ('Bala', 26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

type(schemaPeople)

pyspark.sql.dataframe.DataFrame

In [5]:
orders = sqlContext.read.csv("/home/jovyan/examples/data-samples/spark-examples/customer-orders.csv", inferSchema = True, header = True)
orders.show()

+---+----+-----+
| 44|8602|37.19|
+---+----+-----+
| 35|5368|65.89|
|  2|3391|40.64|
| 47|6694|14.98|
| 29| 680|13.08|
| 91|8900|24.59|
| 70|3959|68.68|
| 85|1733|28.53|
| 53|9900|83.55|
| 14|1505| 4.32|
| 51|3378| 19.8|
| 42|6926|57.77|
|  2|4424|55.77|
| 79|9291|33.17|
| 50|3901|23.57|
| 20|6633| 6.49|
| 15|6148|65.53|
| 44|8331|99.19|
|  5|3505|64.18|
| 48|5539|32.42|
| 47|9900|25.66|
+---+----+-----+
only showing top 20 rows

In [6]:
type(orders)

pyspark.sql.dataframe.DataFrame

In [7]:
orders.printSchema()

root
 |-- 44: integer (nullable = true)
 |-- 8602: integer (nullable = true)
 |-- 37.19: double (nullable = true)

In [11]:
Employee = Row("firstName", "lastName", "email", "salary")

employee1 = Employee('Basher','armbrust', 'bash@lp.com', 100000)
employee2 = Employee('Hyuk', 'Kim', 'hkim@lp.com', 90000)
employee3 = Employee('Kevin','Stern', 'kStern@lp.com', 400000)

#print(Employee[0])
#print(employee1)

department1 = Row(id='12345', name='HR')
department2 = Row(id='73802', name='DEV')
department3 = Row(id='42727', name='Ops')

departmentWithEmployee1 = Row(department=department1, employees=[employee1, employee2, employee3])
departmentWithEmployee2 = Row(department=department2, employees=[employee2, employee3])

print(departmentWithEmployee2)

Row(department=Row(id='73802', name='DEV'), employees=[Row(firstName='Hyuk', lastName='Kim', email='hkim@lp.com', salary=90000), Row(firstName='Kevin', lastName='Stern', email='kStern@lp.com', salary=400000)])

In [12]:
departmentWithEmployees_Seq = [departmentWithEmployee1, departmentWithEmployee2]
dframe = sqlContext.createDataFrame(departmentWithEmployees_Seq)
display(dframe)
dframe.show()

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

+------------+--------------------+
|  department|           employees|
+------------+--------------------+
| [12345, HR]|[[Basher, armbrus...|
|[73802, DEV]|[[Hyuk, Kim, hkim...|
+------------+--------------------+

TypeError: Can not infer schema for type: <class 'str'>

In [38]:
officeSupply_df = sqlContext.read.csv("/home/jovyan/examples/data-samples/spark-examples/P1-OfficeSupplies.csv", inferSchema = True, header=True)
officeSupply_df.show()
officeSupply_df.printSchema()
print(officeSupply_df.columns)
officeSupply_df.count()

+-----------+-------+-------+-------+-----+----------+
|  OrderDate| Region|    Rep|   Item|Units|Unit Price|
+-----------+-------+-------+-------+-----+----------+
| 4-Jul-2014|   East|Richard|Pen Set|   62|      4.99|
|12-Jul-2014|   East|   Nick| Binder|   29|      1.99|
|21-Jul-2014|Central| Morgan|Pen Set|   55|     12.49|
|29-Jul-2014|   East|  Susan| Binder|   81|     19.99|
| 7-Aug-2014|Central|Matthew|Pen Set|   42|     23.95|
|15-Aug-2014|   East|Richard| Pencil|   35|      4.99|
|24-Aug-2014|   West|  James|   Desk|    3|     275.0|
| 1-Sep-2014|Central|  Smith|   Desk|    2|     125.0|
|10-Sep-2014|Central|   Bill| Pencil|    7|      1.29|
|18-Sep-2014|   East|Richard|Pen Set|   16|     15.99|
|27-Sep-2014|   West|  James|    Pen|   76|      1.99|
| 5-Oct-2014|Central| Morgan| Binder|   28|      8.99|
|14-Oct-2014|   West| Thomas| Binder|   57|     19.99|
|22-Oct-2014|   East|Richard|    Pen|   64|      8.99|
|31-Oct-2014|Central| Rachel| Pencil|   14|      1.29|
| 8-Nov-2014|   East|  Susan|    Pen|   15|     19.99|
|17-Nov-2014|Central|   Alex| Binder|   11|      4.99|
|25-Nov-2014|Central|Matthew|Pen Set|   96|      4.99|
| 4-Dec-2014|Central|   Alex| Binder|   94|     19.99|
|12-Dec-2014|Central|  Smith| Pencil|   67|      1.29|
+-----------+-------+-------+-------+-----+----------+
only showing top 20 rows

root
 |-- OrderDate: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Rep: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Units: integer (nullable = true)
 |-- Unit Price: double (nullable = true)

['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Price']

43

In [66]:
from pyspark.sql.functions import to_timestamp, year, month

# Convert string column, "OrderDate" into DateTime
d = officeSupply_df.select(officeSupply_df.Region, officeSupply_df.Rep, \
                          officeSupply_df.Item, officeSupply_df.Units, officeSupply_df.columns[5], \
                          to_timestamp(officeSupply_df.OrderDate, 'dd-MMM-yyyy').alias('OrderPlaced'))

#extract year and month from OrderPlaced
d = d.select(d.Region, d.Rep, d.Item, d.Units, d.columns[4], d.OrderPlaced, year(d.OrderPlaced).alias('year'), \
             month(d.OrderPlaced).alias('month') \
            )
             
d.show()
d.describe("Unit Price")

d.filter(d.month == 9).show()
d.filter(d.month == 11).count()
d.filter((d.Rep=='Richard') | (d.Rep=='Alex')).show()
d.groupby("Region").count().show()

d.groupby("Item", "Unit Price").pivot("month").sum("Unit Price").show()
#d = officeSupply_df.select(to_timestamp(officeSupply_df.OrderDate, 'dd-MMM-yyyy').alias('dt'))
#print(d)
#d.printSchema()
#Convert string to datetime and extract only month part
#d = officeSupply_df.select(officeSupply_df.Region, officeSupply_df.Item, officeSupply_df.Units,month(to_timestamp(officeSupply_df.OrderDate, 'dd-MMM-yyyy')).alias('dt') )
#d.show()

+-------+-------+-------+-----+----------+-------------------+----+-----+
| Region|    Rep|   Item|Units|Unit Price|        OrderPlaced|year|month|
+-------+-------+-------+-----+----------+-------------------+----+-----+
|   East|Richard|Pen Set|   62|      4.99|2014-07-04 00:00:00|2014|    7|
|   East|   Nick| Binder|   29|      1.99|2014-07-12 00:00:00|2014|    7|
|Central| Morgan|Pen Set|   55|     12.49|2014-07-21 00:00:00|2014|    7|
|   East|  Susan| Binder|   81|     19.99|2014-07-29 00:00:00|2014|    7|
|Central|Matthew|Pen Set|   42|     23.95|2014-08-07 00:00:00|2014|    8|
|   East|Richard| Pencil|   35|      4.99|2014-08-15 00:00:00|2014|    8|
|   West|  James|   Desk|    3|     275.0|2014-08-24 00:00:00|2014|    8|
|Central|  Smith|   Desk|    2|     125.0|2014-09-01 00:00:00|2014|    9|
|Central|   Bill| Pencil|    7|      1.29|2014-09-10 00:00:00|2014|    9|
|   East|Richard|Pen Set|   16|     15.99|2014-09-18 00:00:00|2014|    9|
|   West|  James|    Pen|   76|      1.99|2014-09-27 00:00:00|2014|    9|
|Central| Morgan| Binder|   28|      8.99|2014-10-05 00:00:00|2014|   10|
|   West| Thomas| Binder|   57|     19.99|2014-10-14 00:00:00|2014|   10|
|   East|Richard|    Pen|   64|      8.99|2014-10-22 00:00:00|2014|   10|
|Central| Rachel| Pencil|   14|      1.29|2014-10-31 00:00:00|2014|   10|
|   East|  Susan|    Pen|   15|     19.99|2014-11-08 00:00:00|2014|   11|
|Central|   Alex| Binder|   11|      4.99|2014-11-17 00:00:00|2014|   11|
|Central|Matthew|Pen Set|   96|      4.99|2014-11-25 00:00:00|2014|   11|
|Central|   Alex| Binder|   94|     19.99|2014-12-04 00:00:00|2014|   12|
|Central|  Smith| Pencil|   67|      1.29|2014-12-12 00:00:00|2014|   12|
+-------+-------+-------+-----+----------+-------------------+----+-----+
only showing top 20 rows

+-------+-------+-------+-----+----------+-------------------+----+-----+
| Region|    Rep|   Item|Units|Unit Price|        OrderPlaced|year|month|
+-------+-------+-------+-----+----------+-------------------+----+-----+
|Central|  Smith|   Desk|    2|     125.0|2014-09-01 00:00:00|2014|    9|
|Central|   Bill| Pencil|    7|      1.29|2014-09-10 00:00:00|2014|    9|
|   East|Richard|Pen Set|   16|     15.99|2014-09-18 00:00:00|2014|    9|
|   West|  James|    Pen|   76|      1.99|2014-09-27 00:00:00|2014|    9|
+-------+-------+-------+-----+----------+-------------------+----+-----+

+-------+-------+-------+-----+----------+-------------------+----+-----+
| Region|    Rep|   Item|Units|Unit Price|        OrderPlaced|year|month|
+-------+-------+-------+-----+----------+-------------------+----+-----+
|   East|Richard|Pen Set|   62|      4.99|2014-07-04 00:00:00|2014|    7|
|   East|Richard| Pencil|   35|      4.99|2014-08-15 00:00:00|2014|    8|
|   East|Richard|Pen Set|   16|     15.99|2014-09-18 00:00:00|2014|    9|
|   East|Richard|    Pen|   64|      8.99|2014-10-22 00:00:00|2014|   10|
|Central|   Alex| Binder|   11|      4.99|2014-11-17 00:00:00|2014|   11|
|Central|   Alex| Binder|   94|     19.99|2014-12-04 00:00:00|2014|   12|
|   East|Richard| Pencil|   95|      1.99|2015-01-06 00:00:00|2015|    1|
|Central|   Alex| Pencil|   36|      4.99|2015-02-09 00:00:00|2015|    2|
|   East|Richard| Binder|    4|      4.99|2015-02-18 00:00:00|2015|    2|
|Central|   Alex|Pen Set|   50|      4.99|2015-03-24 00:00:00|2015|    3|
|   East|Richard| Binder|   60|      4.99|2015-04-01 00:00:00|2015|    4|
|Central|   Alex| Pencil|   90|      4.99|2015-05-05 00:00:00|2015|    5|
|   East|Richard| Binder|   60|      8.99|2015-06-08 00:00:00|2015|    6|
+-------+-------+-------+-----+----------+-------------------+----+-----+

+-------+-----+
| Region|count|
+-------+-----+
|Central|   24|
|   East|   13|
|   West|    6|
+-------+-----+

+-------+----------+-----+-----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+
|   Item|Unit Price|    1|    2|    3|   4|   5|    6|    7|    8|    9|   10|   11|   12|
+-------+----------+-----+-----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+
|   Desk|     275.0| null| null| null|null|null| null| null|275.0| null| null| null| null|
| Pencil|      2.99| null| null| 2.99|null|null| null| null| null| null| null| null| null|
| Pencil|      4.99| null| 4.99| null|null|4.99| 4.99| null| 4.99| null| null| null| null|
|    Pen|      4.99| null| null| null|4.99|null| null| null| null| null| null| null| null|
|    Pen|      8.99| null| null| null|null|null| null| null| null| null| 8.99| null| null|
|    Pen|      1.99| null| null| null|null|null| null| null| null| 1.99| null| null| null|
| Pencil|      1.29| null| null| null|null|1.29| null| null| null| 1.29| 1.29| null| 1.29|
| Pencil|      1.99| 1.99| null| null|3.98|1.99| null| null| null| null| null| null| null|
| Binder|      15.0| null| 15.0| null|null|null| null| null| null| null| null| null| null|
|    Pen|     19.99| null|19.99| null|null|null| null| null| null| null| null|19.99| null|
|Pen Set|     15.99| null| null| null|null|null| null| null| null|15.99| null| null|15.99|
|   Desk|     125.0| null| null| null|null|null|125.0| null| null|125.0| null| null| null|
| Binder|      4.99| null| 4.99| null|4.99|null| null| null| null| null| null| 4.99| 4.99|
|Pen Set|      4.99| null| null| 4.99|null|null| null| 4.99| null| null| null| 4.99| null|
|Pen Set|     12.49| null| null| null|null|null| null|12.49| null| null| null| null| null|
| Binder|      1.99| null| null| null|null|null| null| 1.99| null| null| null| null| null|
|Pen Set|     23.95| null| null| null|null|null| null| null|23.95| null| null| null| null|
| Binder|      8.99| 8.99| null| null|null|8.99| 8.99| null| null| null| 8.99| null| null|
| Binder|     19.99|19.99| null|19.99|null|null| null|19.99| null| null|19.99| null|19.99|
+-------+----------+-----+-----+-----+----+----+-----+-----+-----+-----+-----+-----+-----+